pyrogram==2.0.106
tgcrypto==1.2.5
requests
pyromod==3.1.5
yt-dlp
ffmpeg
ffprobe
aiohttp==3.8.6
aiofiles==23.2.1
asyncio==3.4.3
pycurl==7.45.2
humanize==4.8.0
cryptg==0.4.0
telethon==1.32.0
python-decouple==3.8
hachoir==3.2.0
mime==0.1.0
mimetypes-extensions
wget==3.2
mediainfo==0.0.9
cloudscraper==1.2.71
beautifulsoup4==4.12.2
pycryptodome==3.19.0
PySocks==1.7.1
websockets==12.0
psutil==5.9.6
async-lru==2.0.4
helper
pyaes==1.6.1
soupsieve==2.5
py-tgcalls==1.0.1
httpx[http2]
img2pdf
tglogging
pycurl
bs4
idna==3.4
mutagen==1.46.0
urllib3==2.0.3
motor
pytz
umongo==3.1.0
speedtest-cli

